* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: antiquewhite;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
button {
  border: none;
  background-color: antiquewhite;
  font-size: 1.5rem;
}
